.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.sentences {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  align-items: center;
}

.headerlist {
  display: flex;
  background-color: beige;
  justify-content: center;
}

.routechoice * {
  margin: 5px;
  padding: 5px;
  font-size: larger;
  background-color: blanchedalmond;
  color: brown;
  text-decoration: none;
}

.routechoice:hover * {
  background-color: lightslategray;
  color: gold;
}

.mainpics {
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;
}

.mainpics img {
  margin: 20px;
  padding: 20px;
}

.qoutes {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  min-height: 50px;
  background-color: burlywood;
}

.qoutes h3 {
  background-color: blanchedalmond;
}
